html, body{
	font-size: 100%;
	font-family: 'Roboto Condensed', sans-serif;
	background: #edf;
	margin: 0;
}   
p, ul li, ol li{
	margin: 0;
	font-size:14px;letter-spacing: 1px; 
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Roboto Condensed', 'sans-serif';
	margin: 0;
}